[submodule "example-core/libbpf"]
	path = example/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "example-core/bpftool"]
	path = example/bpftool
	url = https://github.com/libbpf/bpftool
[submodule "example-core/blazesym"]
	path = example/blazesym
	url = https://github.com/libbpf/blazesym.git
